body{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
html{    border:1px solid #000000;
}
a{text-decoration: none;}
.a{
    display: flex;
    gap: 70px;
    margin-top: 660px;                            
    transform: rotate(-90deg);}
.b{color: black;}
.titre{
position: static;
    display: flex;
    justify-content: flex-end;
    height: 100px;


}
.Rachid{
    color: #000000;
    margin-top: 5px;
    margin-right:30px;}
    .profil{
        display: flex;
        justify-self: flex-end;
        justify-content: space-between;
        background-color: rgb(209, 209, 209);  
        width: 110px;
        height: 30px;
        color: #000000;
        border-radius: 15px;
    border:1px solid #000000;
        margin-left: 380px;
        margin-top: 10px;
    }
    .logo{
        margin-top: -5px;
        margin-left:-5px;
        width: 40px;
        height: 40px;
    }   
    header {
        position: fixed;             
        top: 0;                      
        left: 0;                     
        background-color: rgb(209, 209, 209);  
        width: 70px;              
        height: 100%;                
        display: flex;               
        flex-direction:column;
        border:1px solid #000000;
 
    }
